//          Importar abstracts

@import     'abstracts/variables';
@import     'abstracts/mixins';

//          Importar vendors

@import     url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@400;700&family=Raleway:wght@400;700&display=swap');
@import     'vendors/bootstrap-5/bootstrap';

//          Importar base

@import     'base/body';

//          Importar layout

@import     'layout/wrapper';
@import     'layout/header';
@import     'layout/maincontent';

//          Importar components

@import     'components/nav';
@import     'components/logo';
@import     'components/button';


//          Importar pages

//          Importar themes

