.button{
    background-color: $white;
    color: $smoky-black;
    font-size: $x-small;
    font-weight: $bold;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: $granite-gray 2px solid;
}