.item__logo{

    font-family:            $old-standard;
    font-size:              9px;
    color:                  $white;
    background-color:       $smoky-black;
    width:                  60px;
    height:                 60px;
    display:                grid;
    justify-content:        center;
    align-content:          center;

    h1{
        display:            block;
        align-items:        center;
        justify-content:    center;
        line-height:        1;
    }

    @include medium{
        width:              90px;
        height:             90px;
        font-size:          $small;
    }
}

