
.item__navbar {

    display:                grid;
    align-items:            center;
    justify-content:        flex-end;
    
    
    li{
        list-style-type:    none;
        float:              left;
        font-size:          $medium;
        font-weight:        bold;
        padding-right:      30px;
    
    }

    a{
        text-decoration:    none;
        color:              $smoky-black;

        &:hover{
            color:          $smoky-black;
        }
    }
}
