
// Responsive mixins
// Material Design breakpoints

@mixin     small {
    @media screen and (min-width: 300px) {
      @content;
    }
  }
  
  @mixin   medium {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin    large {
    @media screen and (min-width: 1440px) {
      @content;
    }
  }