header{
    
    color:              $white;
    background-color:   $smoky-black;
    font-family:        $old-standard;
    width:              100px;
    height:             100px;
    display:            flex;
    align-items:        center;
    justify-content:    center;

    h1{
        display:            block;
        font-size:          $xx-large;
    }
}