.item__photo{

    grid-row-start: 1;
    
    @include large{
        grid-column-start:2;
        grid-row: span 2;
    }


    &--main{
        width: 100%;
        height: 230px;
        object-fit: cover;
        object-position: 0% 0%;

        @include medium{
            height: 360px;
            object-position: 0% 35%;
        }

        @include large{
            height: 100%;
            object-position: 0% 0%;
        }
    }
}

.item__content{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;

    @include medium{
        
        padding-left: 60px;
        padding-right: 200px;
        padding-bottom: 30px;
    }

    h2{
        font-family: $old-standard;
        font-weight: $bold;
        margin-top: 10px;

        @include medium{
            font-size: $xxx-large;
        }
    }
    
    p{
        color: $granite-gray;
        font-size: $small;
        line-height: 1.5;
    }
}

.item__sub{
    display:                    grid;
    grid-template-columns:      1fr 30px;
    margin-top: 20px;

    &--newsletter{
        
        background-color:       $smoky-black;
        color:                  $white;
        font-family: $old-standard;

        padding: 30px;
        @include medium{
            padding-left: 60px;
            padding-right: 100px;
        }
        
        h2{
            margin:0;
        }
        label{
            
        }
        input{
            width: 90%;
            font-family: $raleway;
            font-size: $x-small;
            padding: 5px;
        }
    }

    &--title{
        writing-mode:           vertical-rl;
        text-orientation:       mixed;
        font-family:            $old-standard;
        font-weight:            $bold;
        display:                grid;
        align-content:          center;
        justify-content:        center;

        @include medium{
            font-size: $x-large;
        }

    }
}