.item{


    &__contenido{
        grid-column-start:          2;
        grid-row:                   span 2;
        padding:                    40px;

        p{
            
            padding-right:          50px;
            font-size:              $small;
            line-height:            2;
        }
        
        h2{
            font-family:            $old-standard;
            font-size:              $xxx-large;
            padding-right:          50px;
        }
     
    }

    &__photo{
        
        grid-column-start:          3;
        grid-row-start:             1;
        grid-row:                   span 3;
        }




    &__sub{
        grid-row-start:             3;
        grid-column-start:          2;
        display:                    grid;
        grid-template-columns:      1fr 8%;

        &--title{
            writing-mode:           vertical-rl;
            text-orientation:       mixed;
            font-family:            $old-standard;
            font-size:              $xx-large;
            text-align:             center;
            padding-right:          5px;
            padding-left:           5px;
        }

        &--newsletter{
            color:                  $white;
            background-color:       $smoky-black;
            font-family:            $old-standard;
            padding:                5%;
            padding-left:           10%;
            padding-right:          10%;
        

            input{
            font-family:            $raleway;
            color:                  $granite-gray;
            font-size:              $medium;
            width:                  50%;
            }
            
        }
    }  
}

.main__photo{
            
}
